header{
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 102px 102px 102px 102px;
-moz-border-radius: 102px 102px 102px 102px;
-webkit-border-radius: 102px 102px 102px 102px;
border: 0px solid #000000;
  background-color: #00acee;
  background-image: url("../images/crossword.png")
  
}